@media screen and (max-width: 480px) {
.card-deck card{
    padding:30px;
}
.card-img-top{
    padding: 30px;
}
    
@media screen and (max-width: 1080px) {
.card-deck card{
    padding:200px;
}
.card-img-top{
    padding: 200px;
}